html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}
h2{
  position: absolute;
  width: 410px;
  height:50px;
  font-size: 70px;
  top: 50%;
  left: 50%;
  margin-left: -205px;
  margin-top: -25px;  
  color: #aaa;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}
canvas{
  background: black;
}